@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --animate-blob: blob 30s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(30px, -78px) scale(1.2);
  }
  50% {
    transform: translate(-20px, 52px) scale(1);
  }
  75% {
    transform: translate(40px, -89px) scale(0.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
}
